centerline
jupyter
geopandas
geopy
matplotlib
numba
opencv-python
osmnx
pillow
pyarrow
pyogrio
rasterio
scikit-image
scikit-learn
shapely==2.0.1
tqdm
torch
torchvision

argh==0.29.4
coolname
tabulate
packaging
torchaudio
runx
toolz
more-itertools
gdown
pytest
imageio

sphinx
myst-parser
sphinx-rtd-theme
nbsphinx
pandoc
sphinx-autobuild
sphinx-copybutton
numpy<2.0