argh==0.29.4
centerline==1.0.1
coolname==2.2.0
gdown==5.0.0
geopandas==0.14.2
geopy==2.4.1
imageio==2.33.1
jupyter==1.0.0
matplotlib==3.8.2
momepy==0.7.0
more-itertools==10.2.0
myst-parser==2.0.0
nbsphinx==0.9.3
numba==0.58.1
opencv-python==4.9.0.80
osmnx==1.8.1
packaging==23.2
pandoc==2.3
pillow==10.2.0
pyarrow==14.0.2
pyogrio==0.7.2
pytest==7.4.4
rasterio==1.3.9
runx==0.0.11
scikit-image==0.22.0
scikit-learn==1.4.0
shapely==2.0.1
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.5.2
sphinx-rtd-theme==2.0.0
tabulate==0.9.0
toolz==0.12.0
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tqdm==4.66.1